<div class="footer">


<div class="bg-dark pt-2 pb-1 text-light">
        <p class="text-center">proudly supported by <a href="http://www.dundee.ac.uk/computing"><img class="footerLogo ml-1" src="/images/UoD-logo.png" alt="The University of Dundee"></a></p>
</div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

  <script>
   var clipboard = new ClipboardJS('#reference-button');
   clipboard.on('success', function(e) {
       console.log(e);
   });
   clipboard.on('error', function(e) {
       console.log(e);
   });
   $(function () {
     $('#reference-button').tooltip({
    animated: 'fade',
    placement: 'right',
    trigger: 'click',
    offset: 0
})

$('[data-toggle="tooltip"]').click(function () {

        setTimeout(function () {
            $('.tooltip').fadeOut('slow');
        }, 2500);

    });

   })
   </script>


</body>

</html>
